<app-top-alert></app-top-alert>
<div class="padding-layer">
</div>
<div [ngClass]="getUserAgentBasedStyle('dome-container translucent', 'top-layer')">
  <span [ngClass]="getUserAgentBasedStyle('','cute-font')">Zack's Little Shack</span>
</div>
<app-user-badge></app-user-badge>
<div [ngClass]="getUserAgentBasedStyle('teapot-container translucent', 'middle-layer')"  class="middle-layer teapot-container translucent">
  <router-outlet></router-outlet>
  <div class="footer">
    © Z for Zack Enterprises, Inc. All rights reserved.
  </div>
</div>
<div class="padding-layer ">
</div>
