<div class="padding-layer">
</div>
<div class="top-layer dome-container translucent">
  <span class="cute-font">Zack's Little Shack</span>
</div>

<div class="middle-layer teapot-container translucent">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Blog</button>
      <clr-tab-content *clrIfActive="true">
        <app-blog-space></app-blog-space>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink [disabled]="true">Laura's Shack</button>
      <clr-tab-content *clrIfActive="false">
        Laura's Shack
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink [disabled]="true">Turtle Soup</button>
      <clr-tab-content *clrIfActive="false">
       Turtle Soup
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>User Status</button>
      <clr-tab-content *clrIfActive="false">
        User Status
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Gift</button>
      <clr-tab-content *clrIfActive="false">
        Gift
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink [disabled]="true">Admin</button>
      <clr-tab-content *clrIfActive="false">
        Admin
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

<!--  <clr-alert [clrAlertAppLevel]="true">-->
<!--    <clr-alert-item>-->
<!--    <span class="alert-text">-->
<!--      Congratulations, you have installed Clarity!-->
<!--    </span>-->
<!--    </clr-alert-item>-->
<!--  </clr-alert>-->

  <div class="footer ">
    Copyright: © Z for Zack Enterprises, Inc. All rights reserved.
  </div>
</div>
<div class="padding-layer ">
</div>
