<!--<div *ngIf="!this.isAlertsAllEmpty()" [ngClass]="getUserAgentBasedStyle('square-teapot-container translucent', 'middle-layer')">-->
  <ng-container *ngFor="let alertListItem of alertList">
    <clr-alert *ngIf="alertListItem && alertListItem.messages.length != 0"
               [clrAlertType]="alertListItem.type.name" [clrAlertClosed]="alertListItem.isClosed"
               (clrAlertClosedChange)="onAlertClose($event, alertListItem)"
               [clrAlertSizeSmall]="alertSizeSmall" [clrAlertClosable]="alertClosable">
      <clr-alert-item *ngFor="let message of alertListItem?.messages" (mouseover)="stopTimer(message)"
                      (mouseout)="restartTimer(message)">
        <span class="alert-text" [innerHTML]="message.text"></span>
      </clr-alert-item>
    </clr-alert>
  </ng-container>
<!--</div>-->