<div [ngClass]="getUserAgentBasedStyle('flex-vertical-container dummy-relative', 'narrow-width')">
  <div *ngFor="let page of this.blogPaginator.items">
    <div class="blog-card-container" *ngFor="let card of page">
      <div class="center-bottom-border-container text-center">
        {{card.title}}
      </div>
      <div class="center-bottom-border-container text-left white-space-reserve" [innerHTML]="card.text" >
      </div>
      <div class="common-footer">
        <div class="three-rem-tall" style="padding: 0.5rem">
          <a *ngIf="!card.liked" (mouseleave)="shrinkLike(card, true)"
             (mouseover)="enlargeLike(card, true)" (click)="this.flipLike(card)"> <img
              src="../../../../assets/images/hollow_heart.png" [ngClass]="card.likeClass"/></a>
          <a *ngIf="card.liked" (mouseleave)="shrinkLike(card, true)"
             (mouseover)="enlargeLike(card, true)" (click)="this.flipLike(card)"> <img
              src="../../../../assets/images/heart.png" [ngClass]="card.likeClass"/></a> &nbsp; | {{this.getDateString(card.date)}}
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <span *ngIf="this.blogPaginator.moreToLoad && !this.loadingMore">--- <a href="javascript://" (click)="getPaginatedBlogCards()">click to see more</a> ---</span>
    <span *ngIf="!this.blogPaginator.moreToLoad && !this.loadingMore">--- no more to see ---</span>
    <span *ngIf="this.loadingMore" class="spinner spinner-md"></span>
  </div>
</div>


