  <app-common-modal
      [modalSubmitDisabled]="!isModalSubmitEnabled()"
      (onModalSubmitted)="addTopAlert()" [(isModalOpened)]="isModalOpened">
      <h3 common-modal-title>Add Alert</h3>
      <br>
      <table>
        <tr>
          <td><label for="message">Message: </label></td>
          <td><textarea id="message" [(ngModel)]="alert.message"></textarea></td>
        </tr>
        <tr>
          <td><label for="type">Type: </label></td>
          <td><input id="type" [(ngModel)]="alert.type"/></td>
        </tr>
      </table>
  </app-common-modal>
