<clr-modal [(clrModalOpen)]="isModalOpened">
  <div class="modal-title">
    <ng-content select="[common-modal-title]"></ng-content>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info-outline" (click)="closeModal(false)">
      Cancel
    </button>
    <button type="button" class="btn btn-success-outline" (click)="closeModal(true)"
            [disabled]="modalSubmitDisabled">Ok
    </button>
  </div>
</clr-modal>
