<div class="shadeStyle"></div>
<!--<div>-->
<!--  &lt;!&ndash; Loading style : inline spinner, a small spinner followed by a loading, position depend on "loading-inline-center" &ndash;&gt;-->
<!--  <span class="spinner spinner-inline" id="spinner">-->
<!--           loading...-->
<!--  </span>-->
<!--  <span>-->
<!--        loading...-->
<!--  </span>-->
<!--</div>-->
<div class="loading-center">
  <!-- Loading style : spinner-md, only a medium spinner, position depend on "loading-center" -->
    <span class="spinner">
    </span>
</div>