<app-common-modal
    [clrModalClosable]="true"
    [modalSubmitDisabled]="!isModalSubmitEnabled()"
    [(isModalOpened)]="isModalOpened"
    [blockModalClose]="true" [showSubmitButton]="false" [showCancelButton]="false">
  <h3 common-modal-title>Add Alert</h3>
  <br>
  <form class="clr-form clr-form-vertical" [formGroup]="form" (ngSubmit)="submit()">
    <clr-input-container>
      <label for="title" class="clr-control-label">Title</label>
      <input clrInput id="title" placeholder="title please..." formControlName="title" type="text"/>
      <clr-control-error>Title Required</clr-control-error>
    </clr-input-container>
    <clr-textarea-container>
      <label for="text" class="clr-control-label">Content</label>
      <textarea clrTextarea rows="15" cols="30" id="text" placeholder="say something..."
                formControlName="text"></textarea>
      <clr-control-error>Content Required</clr-control-error>
    </clr-textarea-container>
    <div class="clr-form-control">
      <label for="image" class="clr-control-label">Picture</label>
      <input id="image" name="image" type="file" formControlName="image" multiple
             (change)="onFileChange($event)"/>
    </div>
    <div class="clr-form-control">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="submit" value="POST" class="btn" [disabled]="!isModalSubmitEnabled()"/>
        </div>
      </div>
    </div>
  </form>
</app-common-modal>