<ng-container *ngIf="!repliesHidden">
  <div *ngIf="!!formattedReplies && formattedReplies.length > 0"
       [ngClass]="getUserAgentBasedStyle('','bubble-container')">
    <div *ngIf="this.moreToLoad && formattedRepliesToShow.length > 0"
         style="text-align: center;margin-bottom: 1rem">--- <a href="javascript://"
                                                               (click)="showMoreReplies()">more
      replies</a> ---
    </div>
    <div *ngIf="!this.moreToLoad && formattedRepliesToShow.length > 0"
         style="text-align: center;margin-bottom: 1rem"><span
        style="color: lightgray">--- top reached  ---</span></div>
    <ng-container *ngFor="let reply of formattedRepliesToShow">
      <div *ngIf="!reply.isAuthor">
        <table>
          <tr>
            <td style="min-width: 6rem">
              <div class="bubble-left bubble-bottom-left">
                <span
                    style="color: darkmagenta">{{reply.userName}}</span>:&nbsp; {{reply.replyText}}
              </div>
            </td>
          <tr>
        </table>
      </div>
      <div *ngIf="reply.isAuthor" class="flex-horizontal-container-no-padding">
        <table>
          <tr>
            <td style="min-width: 6rem">
              <div class="bubble-right bubble-bottom-right">
                <span style="color: green">{{reply.userName}}</span>:&nbsp; {{reply.replyText}}
              </div>
            </td>
          <tr>
        </table>
      </div>
    </ng-container>
  </div>
</ng-container>