<div [ngClass]="getUserAgentBasedStyle('text-right square-teapot-container translucent', 'middle-layer')">
  <div style="margin-right: 12px">
    <ng-container *ngIf="isMobile()">
      <clr-dropdown>
        <button class="btn btn-outline-primary" clrDropdownTrigger>
          Menu
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left">
          <div aria-label="Dropdown header Action 0" clrDropdownItem
               (click)="goToTab(MENU_TABS.BLOG)">Blog
          </div>
          <div aria-label="Dropdown header Action 0" clrDropdownItem
               (click)="goToTab(MENU_TABS.ADMIN)">Admin
          </div>
        </clr-dropdown-menu>
        &nbsp;|&nbsp;
      </clr-dropdown>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn()">
      <a href="javascript://" (click)="openLogInModal()">Log In</a>
      &nbsp;|&nbsp;
      <a href="javascript://" (click)="openSignUpModal()">Sign Up</a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      &nbsp;<a href="javascript://" (click)="goToTab(MENU_TABS.USER_STATUS)">{{user.name}}</a>&nbsp;({{user.credits}})&nbsp;| LVL. <span
        style="color:red">{{user.level}}</span>&nbsp;|&nbsp;<span><a href="javascript://"
                                                                     (click)="clearUserInfo()">Sign Out</a></span>
    </ng-container>
  </div>
</div>

<app-common-modal
    [showSubmitButton]="false"
    [showCancelButton]="false"
    (onModalSubmitted)="signUp(false, false)"
    (onModalCanceled)="clearUserInfo()" [(isModalOpened)]="isSignUpModalOpened"
    [blockModalClose]="true">
  <h3 common-modal-title>Sign Up</h3>
  <clr-alert *ngIf="showPasswordLengthAlert()"
             [clrAlertType]="'danger'"
             [clrAlertSizeSmall]="false" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text" [innerHTML]="'Password must have at least 8 characters!'"></span>
    </clr-alert-item>
  </clr-alert>
  <clr-alert *ngIf="showPasswordMatchAlert()"
             [clrAlertType]="'danger'"
             [clrAlertSizeSmall]="false" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text" [innerHTML]="'Passwords do not match!'"></span>
    </clr-alert-item>
  </clr-alert>
  <clr-alert *ngIf="this.signUpFailed"
             [clrAlertType]="'danger'"
             [clrAlertSizeSmall]="false" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text" [innerHTML]="'Sign-up failed, please try again!'"></span>
    </clr-alert-item>
  </clr-alert>
  <clr-alert *ngIf="this.userNameTaken"
             [clrAlertType]="'danger'"
             [clrAlertSizeSmall]="false" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text"
            [innerHTML]="'This nick name is already taken, please use another one.'"></span>
    </clr-alert-item>
  </clr-alert>
  <form class="clr-form clr-form-vertical" [formGroup]="form" (ngSubmit)="signUp(false, false)">
    <clr-input-container>
      <label for="nickname" class="clr-control-label">Nickname</label>
      <input clrInput id="nickname" placeholder="nickname" formControlName="name" type="text"/>
      <clr-control-error>nickname is required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label for="password" class="clr-control-label">Password</label>
      <input clrInput id="password" placeholder="password" formControlName="password" type="text"/>
      <clr-control-error>password is required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label for="confirmPassword" class="clr-control-label">Confirm Password</label>
      <input clrInput id="confirmPassword" placeholder="confirm" formControlName="confirmPassword"
             type="text"/>
      <clr-control-error>please confirm the password</clr-control-error>
    </clr-input-container>
    <div class="clr-form-control">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="submit" value="SUBMIT" class="btn"
                 [disabled]="!isSignUpModalSubmitEnabled()"/>
          <input type="button" value="CANCEL" class="btn"
                 (click)="clearUserInfo()"/>
        </div>
      </div>
    </div>
  </form>
</app-common-modal>

<app-common-modal
    [modalSubmitDisabled]="!isLogInModalSubmitEnabled()"
    (onModalSubmitted)="logIn(user.name, user.password)"
    (onModalCanceled)="clearUserInfo()" [(isModalOpened)]="isLogInModalOpened" [blockModalClose]="true">
  <h3 common-modal-title>Log In</h3>
  <br>
  <clr-alert *ngIf="this.logInFailed"
             [clrAlertType]="'danger'"
             [clrAlertSizeSmall]="false" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text" [innerHTML]="'Log-in failed, please make sure you entered the correct credential!'"></span>
    </clr-alert-item>
  </clr-alert>
  <clr-input-container>
    <label for="logInName" class="clr-control-label">Password</label>
    <input clrInput id="logInName" [(ngModel)]="user.name" placeholder="nickname" type="text"/>
  </clr-input-container>
  <clr-input-container>
    <label for="logInPwd" class="clr-control-label">Password</label>
    <input clrInput id="logInPwd" [(ngModel)]="user.password" placeholder="password" type="password"/>
  </clr-input-container>
</app-common-modal>

<app-common-modal
    [modalSubmitDisabled]="false"
    [showCancelButton]="false"
    [(isModalOpened)]="isSignUpCongratsModalOpened">
  <h3 common-modal-title>Sign-up is successful!</h3>
  <br>
  <br>
  <br>
  Thanks <span style="color: green">{{user.name}}</span> for patronizing! Enjoy!
</app-common-modal>