/* You can add global styles to this file, and also import other style files */
.top-layer {
  margin: auto;
  width: 80%;
  height: 5rem;
  border-bottom: 1px solid lightslategrey;
  padding: 2rem;
  text-align: center;
}

.cute-font {
  font-family: "URW Chancery L", cursive;
  font-weight: bolder;
  font-size: xxx-large;
  color: dodgerblue;
}

.middle-layer {
  margin: auto;
  width: 70%;
  /*border-bottom: 3px dotted #73AD21;*/
  padding: 1rem;
}

.footer {
  margin: auto;
  width: 80%;
  padding: 1rem;
  border-top: 1px solid lightslategrey;
  text-align: center;
}

.flex-vertical-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.flex-horizontal-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: right;
  align-items: center;
}

.three-rem-tall{
  height: 3rem;
}

.center-bottom-border-container {
  border-bottom: 1px solid lightslategrey;
  padding: 1rem;
}

.common-footer {
  text-align: right;
}

.white-space-reserve {
  white-space: pre-wrap;
}