/* You can add global styles to this file, and also import other style files */

.padding-layer {
  height: 2rem;
}

td {
  padding: 3px;
  text-align: left;
}

.wide-button {
  width: 120px;
}
.top-layer {
  margin: auto;
  width: 70%;
  height: 5rem;
  padding: 2rem;
  text-align: center;
}

.dome-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 1px solid lightslategrey;
}

.arch-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 1px solid lightslategrey;
  border-left: 1px solid lightslategrey;
  border-right: 1px solid lightslategrey;
}

.teapot-container {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 1px solid lightslategrey;
  border-left: 1px solid lightslategrey;
  border-right: 1px solid lightslategrey;
}

.square-teapot-container {
  border-bottom: 1px solid lightslategrey;
  border-left: 1px solid lightslategrey;
  border-right: 1px solid lightslategrey;
}

.square-container {
  border: 1px solid lightslategrey;
  border: 1px solid lightslategrey;
  border: 1px solid lightslategrey;
}

.cute-font {
  /*font-family: "URW Chancery L", cursive;*/
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: dodgerblue;
  /*-webkit-text-fill-color: white; !* Will override color (regardless of order) *!*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 1px 4px #23430C;
}

.middle-layer {
  margin: auto;
  width: 70%;
  padding: 1rem;
}

.margin-auto {
  margin:auto
}



.alert-layer {
  margin: auto;
  width: 70%;
}

.footer {
  margin: auto;
  width: 70%;
  padding: 1rem;
  border-top: 1px solid lightslategrey;
  text-align: center;
}

.flex-vertical-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

text-center {
  text-align: center;
}

.narrow-width {
  margin: auto;
  width: 90%;
}

.flex-horizontal-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: right;
  align-items: center;
}

.three-rem-tall{
  height: 3rem;
}

.center-bottom-border-container {
  border-bottom: 1px solid lightslategrey;
  padding: 1rem;
}

.common-footer {
  text-align: right;
}

.white-space-reserve {
  white-space: pre-wrap;
}

.wallpaper {
  background-image: url("./assets/images/bg3.jpg");
  background-repeat: repeat;
  min-height: 1200px;
  width: 100%;
}

.translucent {
  /*background-color: whitesmoke;*/
  background-color:rgba(255,255,255,0.9);
}

/**
Used on the mask layer's parent div, mask layer uses position:absolute, in order for it to work,
the parent div needs to be "positioned", i.e. have the "position" attribute specified. So specify
it as it won't have any effect if the positions (e.g. top, right...) aren't given.
 */
.dummy-relative {
  position:relative;
}

